<div class="container">
  <h1>Demo</h1>
  <ul>
    <li>
      <LinkTo @route="twbs-clearfix">
        <code>twbs-clearfix</code>
        Component
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="viewport-demo"><code>Viewport</code> Mixin Demo</LinkTo>
    </li>
  </ul>
</div>