<div class="container">
  <h1>Demo</h1>
  <ul>
    <li>
      {{#link-to "twbs-clearfix"}}
        <code>twbs-clearfix</code>
        Component
      {{/link-to}}
    </li>
    <li>
      {{#link-to "viewport-demo"}}<code>Viewport</code> Mixin Demo{{/link-to}}
    </li>
  </ul>
</div>