<div class="container">
  <div class="row">
    {{#each model as |item index|}}
      <div class="col-sm-6 col-md-4 col-lg-2">
        {{item.name}}
      </div>
      {{twbs-clearfix columnCount=2 index=index visible-sm=true}}
      {{twbs-clearfix columnCount=3 index=index visible-md=true}}
      {{twbs-clearfix columnCount=4 index=index visible-lg=true}}
    {{/each}}
  </div>
</div>
